* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 16px;
    max-width: 1240px;
    height: 100vh;
    overflow: hidden;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

input, button, select, textarea {
    margin: 8px;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 4px;
}

button, select {
    cursor: pointer;
}

/* --- THE MAIN MENU OPTIONS AREA --- */
.js-lab__options {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1;
    min-height: 0;
}

.js-lab__cards-grid {
    width: 100%;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 16px;
    flex: 1;
    overflow-y: auto;
}

.js-lab__card {
    cursor: pointer;
    background-color: #eff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #666;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    max-width: 100%;
    min-height: 220px;
}

.js-lab__interactive-panel {
    width: 100%;
    padding: 16px 0;
    flex: 1;
    min-height: 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}


.js-lab__interactive-panel > div {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.js-lab__interactive-panel:empty {
    display: none;
}